.modal__overlay {
  @apply fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center;
  background: rgba(0,0,0,0.6);
}

.modal__container {
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mpzoomIn {
  from { transform: scale(1.3); }
  to { transform: scale(1); }
}

@keyframes mpzoomOut {
  from { transform: scale(1); }
  to { transform: scale(0); }
}

.micromodal-zoom {
  @apply hidden;

  &.is-open {
    @apply block;
  }

  &[aria-hidden="false"] {
    .modal__overlay {
      animation: mmfadeIn .3s cubic-bezier(.58,.85,.44,.97);
    }

    .modal__container {
      animation: mpzoomIn .3s cubic-bezier(0, 0, .2, 1);
    }
  }

  &[aria-hidden="true"] {
    .modal__overlay {
      animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    .modal__container {
      animation: mpzoomOut .3s cubic-bezier(0, 0, .2, 1);
    }
  }
}

.micromodal-zoom .modal__container,
.micromodal-zoom .modal__overlay {
  will-change: transform;
}

