/**
* animates a partial underline appearing underneath the target element
*/
.mp-anim--pu {
  @apply relative;

  &:after {
    content: '';
    transform: scaleX(0);
    @apply absolute left-1/2 bottom-0 -mb-2 border-b;
  }

  &--8 {
    &:after {
      animation: 1s expand .5s forwards;
      @apply w-8 -ml-4 border-black;
    }
  }

  &--12 {
    &:after {
      animation: 1s expand .5s forwards;
      @apply w-12 -ml-6 border-black;
    }
  }
}

@keyframes expand {
  0% { transform: scaleX(0); } 100% { transform: scaleX(1); }
}
