.inf-dynamic-image {
  &__selected {
    @apply overflow-hidden h-full;
  }

  &__active {
    animation: dynamic-image-transition 700ms;
    @apply w-full h-full object-cover object-center;
  }
}

@keyframes dynamic-image-transition {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 100;
    transform: scale(1);
  }
}
